[include]
    path = .gitconfig_user

[core]
    editor = code --wait
    excludesFile = ~/.gitignore_global

[alias]
    br = branch
    sw = switch
    l = log --pretty=minimal

    main = !git switch main && git pull
    rs = reset --hard
    uncommit = reset --soft HEAD~1
    unadd = reset HEAD

    # commit changes (if any) using the "WIP" message and check out main
    wip = !git add . && (git diff --quiet HEAD || git commit -am "WIP") && git switch main && git fetch
    # only uncommit if the last commit was "WIP"
    unwip = !git log -n 1 | grep -qci "WIP" && git uncommit

    # delete any branches that have been pushed and then deleted upstream
    cleanup = !git switch main && git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D

    # rebase to main
    slam = !git fetch origin && git rebase origin/main

[pretty]
    minimal = format:"%C(#0080ff)%<(12,trunc)%cr %C(#17b062)%<(15,trunc)%aN%C(reset) %s %C(auto)%D %C(#555555)%h"
    #                                         │                          |            |          |             └─ hash (abbreviated)
    #                                         │                          │            │          └─ decorations (branch, heads or tags)
    #                                         │                          │            └─ message 
    #                                         │                          └─ author name
    #                                         └─ date (relative)

[branch]
  sort = committerdate

[push]
    default = current
    autoSetupRemote = true

[fetch]
    prune = true

[mailmap]
	file = ~/.mailmap
