* {
  background-color: transparent;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-size: 13px;
  font-family: 'MesloLGS NF';
}

window#waybar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 89%);
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button.active,
#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#workspaces button,
#hardware,
#pulseaudio,
#backlight,
#network,
#battery,
#clock {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
}

#battery {
  min-width: 110px;
}

#custom-power {
  margin-right: 6px;
}

@keyframes blink {
  to {
    color: #f38ba8;
  }
}

#battery.warning {
  color: #f38ba8;
}

#battery.critical,
#battery.urgent {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  padding-right: 7px;
  padding-left: 7px;
}

#tray menu {
  background-color: #1E2031;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #3D415A;
  border-radius: 3px;
}

#tray menu menuitem:hover {
  background-color: #464965;
}

#tray menu menuitem {
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
