 /*
Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration 
inspect classes: `GTK_DEBUG=interactive waybar`
*/


 /* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

 /* Reset all styles */
 * {
   border: none;
   border-radius: 0;
   min-height: 0;
   margin: 1px;
   padding: 0;
   color: #dfdfdf;
 }


 /* The whole bar */
 window#waybar {
   background-color: rgba(0, 0, 0, 0);
   color: #dfdfdf;
   font-family: MesloLGS NF;
   font-size: 14px;
 }

 /* Every modules */
 #workspaces,
 #window,
 #group_hardware,
 #group_inputs,
 #tray,
 #clock {
   padding: 0.25rem 0.75rem;
   margin: 1px 6px;
   background-color: #1E2031;
   border: 1px solid #3D415A;
   border-radius: 8px;
 }

 /* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

 #workspaces {}

 #workspaces button {
   font-weight: bold;
   /* font-size: 16px; */
   border-bottom: 3px solid transparent;
   margin-bottom: 0px;
   margin: 0;
   padding: 0 10px;
   color: #dfdfdf;
 }

 #workspaces button:hover {
   background: transparent;
   border-color: #ff4499;
 }

 #workspaces button.active {
   border-color: #ff4499;
 }

 #workspaces button.urgent {
   border-color: #c9545d;
   color: #c9545d;
 }

 #window {}

 #temperature.icon {
   color: #f1af5f;
   padding-right: 6px;
   font-size: 10px;
 }

 #temperature.value {
   margin-right: 20px;
 }

 #cpu.icon {
   color: #79E6F3;
   padding-right: 6px;
   font-size: 15px;
 }

 #cpu.value {
   padding-left: 0;
   margin-right: 20px;
 }

 #cpu.warning {
   background-color: transparent;
   color: orange;
 }

 #cpu.critical {
   background-color: transparent;
   color: red;
 }

 #memory.icon {
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   color: #bb9af7;
   padding-right: 6px;
   font-size: 19px;
 }

 #memory.value {
   padding-left: 0;
 }

 #memory.warning {
   color: orange;
   background-color: transparent;
 }

 #memory.critical {
   color: red;
 }

 #battery {
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
 }

 #battery.icon {
   color: #90CEAA;
   padding-right: 6px;
   font-size: 11px;
   margin-right: 0;
   padding-left: 5px;
 }

 #battery.warning {
   background-color: orange;
   color: black;
 }

 #battery.critical {
   background-color: transparent;
   color: red;
 }

 #battery.critical.discharging {
   animation-name: blink-critical;
   animation-duration: 2s;
 }

 #battery.value {
   margin-left: 0;
   padding-left: 0;
   margin-right: 20px;
 }

 #pulseaudio.icon1 {
   font-size: 15px;
   color: #66ACED;
   padding-right: 2px;
 }

 #pulseaudio.icon2 {
   font-size: 15px;
   color: #66ACED;
   padding-right: 3px;
 }

 #pulseaudio.value {
   margin-right: 20px;
   padding-left: 0;
 }

 #pulseaudio.muted {
   color: #aaaaaa;
 }

 #backlight.icon {
   padding-right: 6px;
   font-size: 13px;
   color: #e0da37;
 }

 #backlight.value {
   padding-left: 0;
 }

 #clock {
   margin-right: 0;
 }


 /* Keyframes */

 @keyframes blink-critical {
   70% {
     color: white;
   }

   to {
     color: white;
     background-color: red;
   }
 }
