layout {
  pane size=1 borderless=true {
    plugin location="tab-bar"
  }

  pane split_direction="vertical" {
    pane name="web" command="zsh" {
      args "-c" "cd ~/projects/dependencyci && bundle install && bundle exec rails s -p 5000"
    }
    pane name="sidekiq" command="zsh" {
      args "-c" "cd ~/projects/dependencyci && bundle exec sidekiq -C config/sidekiq.yml"
    }
  }
  pane name="frontend" command="zsh" {
      args "-c" "cd ~/projects/frontend && yarn install && yarn run dev:local-ssl"
  }

  pane size=2 borderless=true {
    plugin location="status-bar"
  }
}

