#!/bin/sh

~/bin/display-single.sh

xinput set-prop 'VEN_04F3:00 04F3:32AA Touchpad' 'libinput Accel Speed' 0

xcalib -d :0 /usr/share/color/icc/colord/1D20G_156XG01_01.icm

xset s on
xset s 900 30
(xss-lock -v -n ~/bin/dim-screen.sh -- betterlockscreen -l -- --nofork) &
nm-applet &
flameshot &
nitrogen --restore &
slack &
discord &

